@model IEnumerable<IFBOOK.Models.ProfessorDisciplina>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Disciplina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Professor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(model => item.Disciplina.Nome)</td>
            <td>@Html.DisplayFor(model => item.Professor.Nome)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = $"{item.DisciplinaID}@{item.ProfessorID}" }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @{ var idItem = $"{item.ProfessorID}@{item.DisciplinaID}"; }
                @Html.ActionLink("Delete", "Delete", new { id=idItem })
            </td>
        </tr>
}
    </tbody>
</table>
