@model IEnumerable<IFBOOK.Models.Pergunta>
@inject UserManager<ApplicationUser> _userManager
@{
    ViewData["Title"] = "CalourASK";
}

<h2>CalourASK</h2>

<p>
    <a asp-action="Create" class="ifbook-button">Nova Pergunta</a>
</p>
@if (User.IsInRole("Veterano"))
{
<div id="perguntasAbertas" class="col-md-12">
    
    @foreach (var item in Model.Where(p => !p.Status && _userManager.GetUserAsync(User).Result.CursoID == p.CursoID))
    {
        <div class="marcosAdriano">
            <p>
                <strong>Curso:</strong>
                @item.Curso.Nome
            </p>
            <p>
                <strong>Pergunta:</strong><br>
                @Html.DisplayFor(modelItem => item.Descricao)
                @if (User.IsInRole("Administrador") || _userManager.GetUserId(User) == item.UsuarioID)
                {<small>(<a asp-action="Delete" asp-route-id="@item.ID" class="glyphicon glyphicon-remove ifbook-green"></a>)</small>}
            </p>
            <div>
                <form asp-action="Responder" asp-controller="Pergunta" asp-route-id="@item.ID">
                    <input type="text" class="form-control control-label" name="Descricao" required>
                </form>
            </div>
        </div>
    }
</div>
}
<div id="perguntasRespondidas" class="col-md-12">
@foreach (var item in Model.Where(p => p.Status).OrderByDescending(p=>p.Resposta.Data)) {
        <div class="marcosAdriano">
            <p>
                <strong>Curso:</strong>
                @item.Curso.Nome
            </p>
            <p>
                <strong>Pergunta:</strong><br>
                @Html.DisplayFor(modelItem => item.Descricao)
                @if (User.IsInRole("Administrador") || _userManager.GetUserId(User) == item.UsuarioID)
                {<small>(<a asp-action="Delete" asp-route-id="@item.ID" class="glyphicon glyphicon-remove ifbook-green"></a>)</small>}
            </p>
            <p>     
                <strong>Resposta:</strong><br>
                @Html.DisplayFor(modelItem => item.Resposta.Descricao)
            </p>
        </div>
}
</div>