@model IEnumerable<IFBOOK.Models.Publicacao>
@using Microsoft.AspNetCore.Identity
@using IFBOOK.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@{
    ViewData["Title"] = "Feed";
}

<h2>Inicio - Feed (Manutenção)</h2>
<div>
    <form asp-action="Create">
        <div class="form-horizontal col-md-12">
            <textarea name="Descricao" class="form-control" style="min-width:60%;height:100px;margin:auto;" placeholder="O que você está pensando?" required></textarea>
            <div class="form-group">
                <div class="col-md-offset-8 col-md-4" style="margin-top:10px;">
                    <input type="submit"  value="Publicar" class="btn btn-success" />
                </div>
            </div>
        </div>
    </form>
</div>
<div id="publicacoes">
@foreach (var item in Model) {
        <dl>
            <dt>
                @Html.DisplayFor(modelItem => item.Usuario.Nome)<br>
                @Html.DisplayFor(modelItem => item.Data)
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => item.Descricao)
            </dd>
            <dd>
                @if ((UserManager.GetUserId(User) == item.UsuarioID)||User.IsInRole("Administrador")) {
                    <a asp-action="Edit" asp-route-id="@item.ID"><span class="glyphicon glyphicon-edit" style="color:#02884d"></span></a>
                    <a asp-action = "Details" asp-route-id = "@item.ID" ><span class="glyphicon glyphicon-search" style="color:#02884d"></span></a>
                    <a asp-action="Delete" asp-route-id="@item.ID"><span class="glyphicon glyphicon-remove" style="color:#02884d"></span></a>
                 }
            </dd>
        </dl>
}
</div>