@model IEnumerable<IFBOOK.Models.Publicacao>
@using Microsoft.AspNetCore.Identity
@using IFBOOK.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@{
    ViewData["Title"] = "Feed";
}

<div>
    <form asp-action="Create" asp-controller="Publicacao">
        <div class="form-horizontal col-md-12" style="margin-top:25px">
            @(!string.IsNullOrEmpty(ViewBag.PublicacaoError)?$"<span class='alert alert-danger'>{ViewBag.PublicacaoError}</span>":"")
            <textarea name="Descricao" class="form-control" style="min-width:60%;height:100px;margin:auto;" placeholder="O que você está pensando?" required></textarea>
            <div class="form-group">
                <div class="col-md-offset-8 col-md-4" style="margin-top:10px;">
                    <input type="submit"  value="Publicar" class="btn btn-success" />
                </div>
            </div>
        </div>
    </form>
</div>
<div id="publicacoes">
@foreach (var item in Model) { 
    
    <div class="marcosAdriano col-md-8">
        <div class="marcosAdriano1 text-center col-md-2">
            <img src="~/images/default-avatar.png" class="img-post" style="width:81px" />
            @if ((UserManager.GetUserId(User) == item.UsuarioID) || User.IsInRole("Administrador"))
            {
                <a asp-action="Edit" asp-route-id="@item.ID"><span class="glyphicon glyphicon-edit" style="color:#02884d"></span></a>
                <a asp-action="Delete" asp-route-id="@item.ID"><span class="glyphicon glyphicon-remove" style="color:#02884d"></span></a>
            }
        </div>
        <div class="marcosAdriano2 col-md-10 pull-left">
            <div class="row">
                <span class="name-post">@Html.DisplayFor(modelItem => item.Usuario.Nome)</span><br>
                <small class="date-post">@Html.DisplayFor(modelItem => item.Data)</small><br>
                <span class="post">@Html.DisplayFor(modelItem => item.Descricao)</span><br><br>
                <br>
                @foreach (var comentario in item.Comentarios.OrderBy(c => c.Data))
                {
                    <strong>@Html.DisplayFor(modelItem => comentario.Usuario.Nome)<small><span>(</span>@Html.DisplayFor(modelItem => comentario.Data)<span>)</span></small>:</strong>@Html.DisplayFor(modelItem => comentario.Descricao)
                    @if (User.IsInRole("Administrador") || UserManager.GetUserId(User) == comentario.UsuarioID)
                    {<a asp-action="DeletarComentario" asp-route-id="@comentario.ID"><span class="glyphicon glyphicon-remove" style="color:#02884d"></span></a>}
                    <br />
                }
                <form asp-action="Comentar" asp-controller="Publicacao" method="put" asp-route-id="@item.ID"><input name="content" placeholder="Comente algo Please :)" type="text" class="form-control" required></form>
            </div>
        </div>
        <hr>  
</div>
}
</div>