@model IEnumerable<IFBOOK.Models.Evento>
@inject UserManager<ApplicationUser> _userManager

@{
    ViewData["Title"] = "Eventos";
}

<h2>Calendários de Eventos</h2>

<p>
    <a asp-action="Create" class="ifbook-button">Cadastrar Novo Evento</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Where(i => i.Data>DateTime.Now && (i.Status||User.IsInRole("Administrador")||_userManager.GetUserId(User)==i.UsuarioID))) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GetStatus)
                @if (User.IsInRole("Administrador"))
                {<span>(</span><a asp-controller="Evento" asp-action="AlterarStatus" asp-route-id="@item.ID" class="@(!item.Status ? "glyphicon glyphicon-ok" : "glyphicon glyphicon-remove") ifbook-green"></a><span>)</span>}
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
